body {
    margin: 0px;
}

.position-relative {
    font-family: 'Bitter', serif;
}

.section-title {
    font-family: 'Bitter', serif;
    margin-left: 22px;
}


.recommended-items, .buy-record {
    font-family: 'Roboto', sans-serif !important;
}

.row {
    margin-top: 20px;
    margin-bottom: 50px;
    text-align: center;

}

.text h2{
    margin-bottom: 0px;
}

footer {
    width: 100%;
    bottom: 0;
    position: relative;
    text-align: center;
}